// color 
$bgColor:#dadada; 
$primaryColor:#0100FF;
$secondColor:#cd5c5c;
$headingColor:#fff;
$subHeadingColor:violet; 
$linkColor:$headingColor;
$linkColorHover:#999;

//font
$fontFamily:'Roboto', sans-serif;
